* {
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Header */
header {
  padding: 24px 0;
  background-color: white;
}
.logo {
  margin: 0 auto;
  display: block;
  width: 200px;
}

/* Banner */
.banner {
  background: url("/images/page-title.jpg");
  text-align: center;
  padding: 60px 0;
  position: relative;
  z-index: 1;
}
.overlay {
  background-color: #3d4451;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.banner h1 {
  font-size: 42px;
  text-transform: capitalize;
  line-height: 1;
  color: white;
  margin-bottom: 18px;
}
.banner p {
  line-height: 1.3;
  color: white;
}

/* Search */
.search {
  margin: 18px 24px;
  display: flex;
  justify-content: center;
}
.search input {
  width: 700px;
  padding: 8px 14px;
  border: 1px solid #ddd;
  border-radius: 6px 0 0 6px;
}
.search .search-btn {
  padding: 9px 10px;
  background-color: #fbbd23;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
.search .search-btn i {
  font-size: 14px;
  color: white;
}

/*Recipes*/
.latest-recipes h2 {
  font-weight: normal;
  font-size: 42px;
  text-transform: capitalize;
  text-align: center;
  line-height: 1;
  color: #333;
  margin-top: 30px;
  margin-bottom: 18px;
}
.recipes-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 22px;
  padding: 18px 0;
}
.loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recipe-card {
  width: 270px;
  height: 424px;
  box-shadow: 1px 4px 11px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 4px 11px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 4px 11px 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}
.card-img {
  height: 60%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.recipe-card img {
  width: 100%;
}
.recipe-content {
  padding: 14px 12px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.recipe-content h3 {
  font-size: 20px;
  color: #333;
}
.recipe-content p {
  color: #333;
  line-height: 1.3;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* text-overflow: ellipsis;
  max-height: 3lh; */
}
.recipe-content button {
  border: none;
  background-color: #fbbd23;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 12px;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: auto;
}

/* Footer */
footer {
  background-color: #3d4451;
}
.footer-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 18px 0;
}
.footer-container p {
  font-weight: bold;
}
.social {
  display: flex;
  align-items: center;
  column-gap: 14px;
}
.social i {
  color: white;
}
@media screen and (max-width: 576px) {
  .recipes-container {
    justify-content: space-evenly;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 0 24px;
  }
}
